.element-style-1{
    .red-circle,
    .black-circle,
    .gray-circle{
        width: 60px;
        height: 60px;
        position: relative;
        &::after{ 
            content:"";
            display: block;
            width: 83.3%;
            height:83.3%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            transition: all .3s;
        }
    }
    .red-circle{
        border:1px solid $red;
        &::after{
            background: linear-gradient(to right,#EC1C24,#C2142C);
        }
    }
    .black-circle{
        border:1px solid black;      
        animation: upDown;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-iteration-count: infinite;  
        &::after{
            background: black;
        }
    }
    .gray-circle{
        width: 48px;
        height: 48px;
        border:1px solid $grayB2B2B2; 
        &::after{
            background:$grayB2B2B2; 
        }
    }
    span{
        transition: color .3s; 
    }
    &:hover{
        .red-circle+span{
            color:$red; 
        }
        .red-circle,
        .gray-circle{
            &::after{
                width: 100%;
                height: 100%;
            }
        }
    }
}


.swiper-pagination-bullet.circle{
    position: relative;
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    &.swiper-pagination-bullet-active{
        svg{
            opacity: 1;
        }
    }
}
.video-element{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
    }
}
.banner-fixed{
    height: 100vh;
    @media(max-width:991px){
        height: 800px;
    }
    @media(max-width:767px){
        height: 400px;
    }
}
.banner{
    height: 100vh;
    &.banner-style-2{
        .text{
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    } 
    @media(max-width:991px){
        height: 800px;
    }
    @media(max-width:767px){
        height: 400px;
    }
}


.circle-move-style{
    transition: opacity .5s;
    opacity: 0;
    .wave {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(237,28,36,0.1);
        border-radius: 50%;
        animation-name: radarWave;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &.wave-1{
            width: 100%;
            height: 100%;                   
        }
        &.wave-2{
            width: 85%;
            height: 85%;
        }
        &.wave-3{
            width: 70%;
            height: 70%;
            background: $red;
            img{
                width: 42px;
            }
        }
    }
}
.pages-element{
    a{
        margin: 0 5.5px;
        width: 50px;
        height: 50px;
        transition: all .3s;
        border:1px solid transparent;
        &.active{
            color:white;
            font-weight: bold;
            background: linear-gradient(to right,#EC1C24,#C2142C);
            &::after{
                content:"";
                display: block;
                width: 60px;
                height: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: 50%;
                border:1px solid $red;
            }
        }
        &:not(.active){
            &:hover{
                border:1px solid $red;
                background: white;
            }
        }
    }
    @media(max-width:767px){
        a{
            margin: 0 5.5px;
            width: 20px;
            height: 20px;
            &.active{
                background: transparent;
                color:$red;
                &::after{
                   display: none;
                }
            }
            &:not(.active){
                &:hover{
                    border:1px solid transparent;
                    background: transparent;
                }
            }
        }
    }
}
.bootstrap-select{
    >.dropdown-toggle{
        line-height: 1.65;
        padding: 0;
        color:inherit !important; 
        background: transparent !important;
        box-shadow: none;
        border:none !important;
        &:focus{
            outline: none !important;
        }
    }
    .dropdown-item.active, .dropdown-item:active{
        background-color: $red;
    }
}
.btn-dec{
    position: relative;
    &::before{
        display: none;
    }
    &::after{
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0255,255,255,0.2);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 30px;
        opacity:0;
        transition: opacity .3s;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
}
ul.red-dots{
    li{
        position: relative;
        padding-left: 20px;
        &::after{
            content:"";
            display: block;
            position: absolute;
            left: 0px;
            top: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $red; 
        }
    }
  @media(max-width:767px){
    li{
        padding-left: 15px;
        &::after{
            height: 5px;
            width: 5px;
            top: 11px;
        }
    }
  }  
}
.circle-arrow{
    width: 60px;
    height: 60px;
    @media(max-width:767px){
        width: 40px;
        height: 40px;
    }
}
.prev-next{
    box-shadow: 0 -10px 20px rgba(0,0,0,0.1);
}