
.index-banner{
    .swiper-button{
        width: 70px;
        height: 120px;
        color:white;
        background: rgba(255,255,255,0.3);
        transition: all .3s;
        &:hover{
            background: $red;
        }
        &::after{
            font-size: 32px;
        }
        &.swiper-button-prev{
            left: 0;
            border-radius: 0 60px 60px 0;
            padding-right: 13px;
        }
        &.swiper-button-next{
            right: 0;
            border-radius:60px 0 0 60px;
            padding-left: 13px;
        }
    }
    .swiper-pagination{
        left: 50%;
        bottom: 70px;
        transform: translateX(-50%);
        text-align: right;

        .swiper-pagination-bullet{
            width: 60px;
            height: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            opacity: 1;
            transition: all .3s;
            margin: 0 5px;
            &.swiper-pagination-bullet-active{
                color:$red;
            }
            &:hover{
                color:$red;
            }

        }
    }
}
.bg{
    background: url(images/index/bg.jpg) center no-repeat;
    background-size: cover;
}
.index-section-1{
    .swiper-thumbs{
        height: 650px;
        width: 600px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding-top: 30px;
        padding-bottom: 30px;
        .swiper-slide{
            padding-left: 153px;
            &.swiper-slide-thumb-active{
                .circle{
                    opacity: 1;
                }
                .font-64{
                    font-size: 80px;
                    color:$purple;
                    padding-left: 70px;
                    &::before{
                        opacity: 0;
                    }
                }
                .font-24{
                    color:black;
                     padding-left: 70px;
                }
            }
            .circle {
                opacity: 0;
                height: 244px;
                width: 244px;
                left: -12%;
                top:50%;
                transform: translateY(-50%);
                transition: opacity .5s;
                .wave {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background: rgba(237,28,36,0.1);
                    border-radius: 50%;
                    animation-name: radarWave;
                    animation-duration: 3s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    &.wave-1{
                        width: 100%;
                        height: 100%;                   
                    }
                    &.wave-2{
                        width: 85%;
                        height: 85%;
                    }
                    &.wave-3{
                        width: 70%;
                        height: 70%;
                        background: $red;
                        img{
                            width: 42px;
                        }
                    }
                }
            }
            .font-64{
                transition: all .3s;
                position: relative;
                padding-left: 90px;
                &::before{
                    content:"";
                    display: block;
                    width: 42px;
                    height: 42px;
                    background: url(images/index/arrow-left-1.svg) center no-repeat;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    transition: all .3s;
                }
            }
            .font-24{
                transition: all .3s;
                padding-left: 90px;
            }
            
        }
    }
    .swiper-main{
       margin-left: 505px;
        .swiper-slide{
            .img{
                width: 75%;
            }
            .text{
                top: 55%;
                left: 57.5%;
                max-width: 433px;
                a{
                    pointer-events: all;
                }
            }
        }
        .swiper-pagination{
            left: auto;
            right: 30px;
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            width: auto;
            .swiper-pagination-bullet{
                position: relative;
                display: block;
                margin: 10px 0;
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                opacity: 1;
                span{
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: white;
                    border-radius: 50%;
                    transition:background .3s ;
                }
                &.swiper-pagination-bullet-active{
                    span{
                        background: $red;
                    }
                }
            }
        }
    }
}
.index-section-2{
    margin-top: -110px;
    .img-1{
        left: 0;
        top: 30px;
    }
    .img-2{
        right: 0;
        top: 0;
    }  
    .text{
        margin-left: 72px;
        .welcome{
            letter-spacing: -4px;
        }
    }
}
.index-section-3{
    padding-top: 165px;
    .dec{
        left: -11%;
        bottom: -165px;
    }
    .swiper-container{
        height: 890px;
        .swiper-slide{
            a{
                padding-right: 148px;
                &::before{
                    content:"";
                    display: block;
                    width: 42px;
                    height: 42px;
                    background: url(images/index/arrow-left-1.svg) center no-repeat;
                    position: absolute;
                    top: 50%;
                    right: 87px;
                    transform: translateY(-50%);
                    transition: all .3s;
                }
                &:hover{
                    .date{
                        color:$red;
                    }
                    .circle{
                        opacity: 1;
                    }
                    .img-wrapper{
                        &::after{
                            background: radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
                        }
                    }
                }
                .circle {
                    opacity: 0;
                    height: 244px;
                    width: 244px;
                    right: -4%;
                    top:50%;
                    transform: translateY(-50%);
                    transition: opacity .5s;
                    .wave {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        background: rgba(237,28,36,0.1);
                        border-radius: 50%;
                        animation-name: radarWave;
                        animation-duration: 3s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        &.wave-1{
                            width: 100%;
                            height: 100%;                   
                        }
                        &.wave-2{
                            width: 85%;
                            height: 85%;
                        }
                        &.wave-3{
                            width: 70%;
                            height: 70%;
                            background: $red;
                            img{
                                width: 42px;
                            }
                        }
                    }
                }
                .date{
                    flex:0 0 140px;
                    transition: color .3s;
                }
                .img-wrapper{
                    position: relative;
                    &::after{
                        content:"";
                        display: block;
                        height: 40px;
                        width: calc(100% + 2px);
                        background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
                        border-radius: 30px;
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        transform: translateX(-50%);
                        filter:blur(2px);
                        transition: all .3s;
                    }
                }
                .text-indent{
                    margin-left: -10px;
                }
            }
            &:nth-child(1){
                .info{
                    left: 100px;
                } 
            }
            &:nth-child(2){
                .info{
                    left: 50px;
                } 
            }
        }
    }
}
.index-section-4{
    .more{
        bottom: 0;
        right: 10%;
    }
    .swiper-container{
        .swiper-wrapper{
            .swiper-slide{
                &.swiper-slide-active{
                    img{
                        transform: none;
                    }
                    .circle{
                        display: flex;
                    }
                }
                img{
                    transform: scale(0.7466); 
                    transition: transform .3s;
                }
                .circle{
                    width: 80px;
                    height: 80px;
                    display: none;
                }
            }
        }
        .swiper-button{
            &::after{
                display: none;
            }
            &.swiper-button-prev{
                left: 26%;
                transform: translateX(-50%);
            }
            &.swiper-button-next{
                right: 26%;
                transform: translateX(50%);
            } 
        }
    }

}
#videoModal{
    .close{
        position: absolute;
        right: 0;
        top: -60px;
        font-size: 50px;
    }
}
#index footer{
	padding-top: 137px;
	padding-bottom: 405px;
	background: url(images/layout/footer-bg.jpg) center no-repeat;
	background-size: cover;
	.dec{
		top: -120px;

	}
	.logo{
		width: 140px;
	}
	.fb,
	.youtube{
		width: 46px;
		height: 46px;
		background: linear-gradient(to right ,#EC1C24,#C2142C);
	}
	.copyright{
		>span{
			&:nth-child(1){
				order:2;
			}
		}
	}
	.biscuit{
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}
}