@charset "UTF-8";
@import url("scss/plugins/bootstrap.min.css");
@import url("scss/plugins/swiper-bundle.min.css");
@import url("scss/plugins/aos.css");
@import url("font/css/fontello.css");
@import url("scss/plugins/bootstrap-select.min.css");
@import url("scss/plugins/bootstrap-datepicker.min.css");
.NotoSansTC {
  font-family: Noto Sans TC;
}

.NotoSerifTC {
  font-family: Noto Serif TC;
}

.CormorantInfant {
  font-family: Cormorant Infant;
}

.Roboto {
  font-family: Roboto;
}

.Oswald {
  font-family: Oswald;
}

.w-0 {
  width: 0;
}

.max1600 {
  max-width: 1600px;
  margin: auto;
}

.max1500 {
  max-width: 1500px;
  margin: auto;
}

.max716 {
  max-width: 716px;
}

.max1400 {
  max-width: 1400px;
  margin: auto;
}

.max1260 {
  max-width: 1260px;
  margin: auto;
}

.max1200 {
  max-width: 1200px;
  margin: auto;
}

.max620 {
  max-width: 620px;
  margin: auto;
}

.max445 {
  max-width: 445px;
}

.max324 {
  max-width: 324px;
}

.lh09 {
  line-height: 0.9;
}

.lh1 {
  line-height: 1;
}

.lh14 {
  line-height: 1.4;
}

.lh165 {
  line-height: 1.65;
}

.lh18 {
  line-height: 1.8;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.bg-red {
  background: #ED1C24;
}

.bg-D1D1D1 {
  background: #D1D1D1;
}

.bg-F7F7F7 {
  background: #F7F7F7;
}

.bg-494949 {
  background: #494949;
}

.bg-purple {
  background: #3B266B;
}

.bg-gradient-red {
  background: linear-gradient(to right, #E91B25, #C4152B);
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.text-red {
  color: #ED1C24;
}

.text-redCD162A {
  color: #CD162A;
}

.text-purple {
  color: #3B266B;
}

.text-gray494949 {
  color: #494949;
}

.text-grayB2B2B2 {
  color: #B2B2B2;
}

.text-gray7F7F7F {
  color: #7F7F7F;
}

.text-gray808080 {
  color: #808080;
}

.text-gray848484 {
  color: #848484;
}

.text-gray606060 {
  color: #606060;
}

.text-gray737373 {
  color: #737373;
}

.text-hover-red {
  transition: all 0.3s;
}
.text-hover-red:hover {
  color: #ED1C24;
}

.text-hover-black {
  transition: all 0.3s;
}
.text-hover-black:hover {
  color: black;
}

.text-hover-underline:hover {
  text-decoration: underline;
}

.text-gradient-red {
  background: linear-gradient(to right, #E91B25, #C4152B);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.border-bottom-E2E2E2 {
  border-bottom: 1px solid #E2E2E2;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-30 {
  border-radius: 30px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 991px) {
  .position-lg-absolute {
    position: absolute !important;
  }
}

@media (min-width: 1199px) {
  .position-xl-absolute {
    position: absolute !important;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.row.g-1 {
  margin-left: -8px;
  margin-right: -8px;
}
.row.g-1 [class^=col-] {
  padding-left: 8px;
  padding-right: 8px;
}
.row.g-2 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.g-2 [class^=col-] {
  padding-left: 10px;
  padding-right: 10px;
}
.row.g-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.row.g-3 [class^=col-] {
  padding-left: 12px;
  padding-right: 12px;
}
.row.g-5 {
  margin-left: -35px;
  margin-right: -35px;
}
.row.g-5 [class^=col-] {
  padding-left: 35px;
  padding-right: 35px;
}
@media (max-width: 1600px) {
  .row.g-5 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .row.g-5 [class^=col-] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row.g-6 {
  margin-left: -45px;
  margin-right: -45px;
}
.row.g-6 [class^=col-] {
  padding-left: 45px;
  padding-right: 45px;
}
@media (max-width: 1600px) {
  .row.g-6 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .row.g-6 [class^=col-] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.blank {
  padding-right: 24px;
  padding-left: 24px;
}
@media (max-width: 767px) {
  .blank {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.text-align-left {
  text-align: left;
}

.cursor {
  cursor: pointer;
}

.point-event-none {
  pointer-events: none;
}

.point-event-all {
  pointer-events: all;
}

.les06 {
  letter-spacing: 0.6px;
}

.les1 {
  letter-spacing: 1px;
}

.les2 {
  letter-spacing: 2px;
}

.opacity0 {
  opacity: 0;
}

.opacity01 {
  opacity: 0.1;
}

.opacity02 {
  opacity: 0.2;
}

.background-cover {
  background-size: cover;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.background-center {
  background-position: center;
}

.h-100vh {
  height: 100vh;
}

.line2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-space {
  padding-bottom: 727.8px;
}
@media (max-width: 1400px) {
  .footer-space {
    padding-bottom: 649.8px;
  }
}
@media (max-width: 1199px) {
  .footer-space {
    padding-bottom: 603.8px;
  }
}
@media (max-width: 991px) {
  .footer-space {
    padding-bottom: 584.8px;
  }
}
@media (max-width: 767px) {
  .footer-space {
    padding-bottom: 605.4px;
  }
}
@media (max-width: 575px) {
  .footer-space {
    padding-bottom: 601.4px;
  }
}

.font-165 {
  font-size: 165px;
}

.font-150 {
  font-size: 150px;
}

.font-130 {
  font-size: 130px;
}

.font-120 {
  font-size: 120px;
}

.font-90 {
  font-size: 90px;
}

.font-88 {
  font-size: 88px;
}

.font-80 {
  font-size: 80px;
}

.font-65 {
  font-size: 65px;
}

.font-64 {
  font-size: 64px;
}

.font-60 {
  font-size: 60px;
}

.font-55 {
  font-size: 55px;
}

.font-44 {
  font-size: 44px;
}

.font-42 {
  font-size: 42px;
}

.font-40 {
  font-size: 40px;
}

.font-36 {
  font-size: 36px;
}

.font-35 {
  font-size: 35px;
}

.font-32 {
  font-size: 32px;
}

.font-30 {
  font-size: 30px;
}

.font-28 {
  font-size: 28px;
}

.font-26 {
  font-size: 26px;
}

.font-25 {
  font-size: 25px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-21 {
  font-size: 21px;
}

.font-20 {
  font-size: 20px;
}

.font-19 {
  font-size: 19px;
}

.font-18 {
  font-size: 18px;
}

.font-17 {
  font-size: 17px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

@media (max-width: 1460px) {
  .font-165 {
    font-size: 130px;
  }
}
@media (max-width: 1400px) {
  .font-165 {
    font-size: 100px;
  }

  .font-80 {
    font-size: 80px;
  }
}
@media (max-width: 1199px) {
  .font-120 {
    font-size: 100px;
  }

  .font-90 {
    font-size: 80px;
  }

  .font-88 {
    font-size: 70px;
  }

  .font-65 {
    font-size: 46px;
  }

  .font-60 {
    font-size: 50px;
  }

  .font-44 {
    font-size: 40px;
  }

  .font-40 {
    font-size: 35px;
  }

  .font-32 {
    font-size: 28px;
  }

  .font-30 {
    font-size: 28px;
  }

  .font-28 {
    font-size: 22px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-25 {
    font-size: 22px;
  }

  .font-24 {
    font-size: 22px;
  }

  .font-20 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .font-120 {
    font-size: 80px;
  }

  .font-90 {
    font-size: 70px;
  }

  .font-88 {
    font-size: 60px;
  }

  .font-165 {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .font-165 {
    font-size: 60px;
  }

  .font-120 {
    font-size: 60px;
  }

  .font-90 {
    font-size: 50px;
  }

  .font-88 {
    font-size: 50px;
  }

  .font-80 {
    font-size: 35px;
  }

  .font-60 {
    font-size: 35px;
  }

  .font-55 {
    font-size: 34px;
  }

  .font-44 {
    font-size: 28px;
  }

  .font-40 {
    font-size: 32px;
  }

  .font-36 {
    font-size: 22px;
  }

  .font-30 {
    font-size: 24px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-25 {
    font-size: 18px;
  }

  .font-24 {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .font-165 {
    font-size: 44px;
  }

  .font-120 {
    font-size: 40px;
  }

  .font-90 {
    font-size: 35px;
  }

  .font-18 {
    font-size: 16px;
  }

  .font-15 {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  .font-165 {
    font-size: 35px;
  }
}
/* ==========================================================================
	clear
 ========================================================================== */
label {
  margin-bottom: 0;
  line-height: normal;
}

textarea {
  -webkit-appearance: none;
}

button,
input, textarea {
  line-height: normal;
  outline: 0;
  background: transparent;
  border: 0;
}

button,
select {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  nowhitespace: afterproperty;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

figure,
address {
  padding: 0;
  margin: 0;
}

* {
  outline: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* ==========================================================================
    public
 ========================================================================== */
body {
  margin: 0;
  font-family: "Open Sans", "Noto Sans TC";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overflow-x: hidden;
  line-height: normal;
}

.wp {
  position: relative;
  overflow: hidden;
}

.safari body {
  -webkit-text-size-adjust: none;
}

/* ==========================================================================
    public
 ========================================================================== */
/*不顯示外虛線*/
button, a {
  outline: none !important;
}

a, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  transition: color 0.3s ease-in-out;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  line-height: normal;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: -webkit-optimize-contrast;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

ul.noneStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.noneList {
  list-style: none;
}

ul.noneStyle > li {
  list-style: none;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #646464;
}

::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #646464;
}

::-o-placeholder {
  /* Mozilla Firefox 19+ */
  color: #646464;
}

::-ms-placeholder {
  /* Internet Explorer 10+ */
  color: #646464;
}

::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #646464;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  /*字體顏色*/
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/
}

/**/
.scrollbar,
.scrollbarX,
.scrollbarY {
  -webkit-overflow-scrolling: touch;
}

.scrollbarX {
  overflow-x: auto;
}

table {
  -webkit-backface-visibility: visible;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-content {
  border: 0;
}
.modal-content .modal-dialog {
  margin: 0;
}
.modal-content .close {
  text-shadow: none;
  opacity: 1;
}

[class^=icon-]:before, [class*=" icon-"]:before {
  width: auto;
  margin: 0;
  line-height: inherit;
}

.red-circle,
.black-circle,
.gray-circle {
  width: 50px;
  height: 50px;
  position: relative;
}
.red-circle::after,
.black-circle::after,
.gray-circle::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.red-circle {
  background: linear-gradient(to right, #EC1C24, #C2142C);
}
.red-circle::after {
  border: 1px solid #ED1C24;
}

.black-circle {
  background: black;
}
.black-circle::after {
  border: 1px solid black;
}

.gray-circle {
  background: #B2B2B2;
  width: 40px;
  height: 40px;
}
.gray-circle::after {
  width: 48px;
  height: 48px;
  border: 1px solid #B2B2B2;
}

.swiper-pagination-bullet.circle {
  position: relative;
}
.swiper-pagination-bullet.circle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet.circle.swiper-pagination-bullet-active svg {
  opacity: 1;
}

.video-element {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video-element iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-fixed {
  height: 100vh;
}
@media (max-width: 767px) {
  .banner-fixed {
    height: 400px;
  }
}

.banner {
  height: 100vh;
}
.banner.banner-style-2 .text {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .banner {
    height: 400px;
  }
}

.circle-move-style {
  transition: opacity 0.5s;
  opacity: 0;
}
.circle-move-style .wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(237, 28, 36, 0.1);
  border-radius: 50%;
  -webkit-animation-name: radarWave;
          animation-name: radarWave;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.circle-move-style .wave.wave-1 {
  width: 100%;
  height: 100%;
}
.circle-move-style .wave.wave-2 {
  width: 85%;
  height: 85%;
}
.circle-move-style .wave.wave-3 {
  width: 70%;
  height: 70%;
  background: #ED1C24;
}
.circle-move-style .wave.wave-3 img {
  width: 42px;
}

.pages-element a {
  margin: 0 5.5px;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.pages-element a.active {
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, #EC1C24, #C2142C);
}
.pages-element a.active::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #ED1C24;
}
.pages-element a:not(.active):hover {
  border: 1px solid #ED1C24;
  background: white;
}
@media (max-width: 767px) {
  .pages-element a {
    margin: 0 5.5px;
    width: 20px;
    height: 20px;
  }
  .pages-element a.active {
    background: transparent;
    color: #ED1C24;
  }
  .pages-element a.active::after {
    display: none;
  }
  .pages-element a:not(.active):hover {
    border: 1px solid transparent;
    background: transparent;
  }
}

.bootstrap-select > .dropdown-toggle {
  line-height: 1.65;
  padding: 0;
  color: inherit !important;
  background: transparent !important;
  box-shadow: none;
  border: none !important;
}
.bootstrap-select > .dropdown-toggle:focus {
  outline: none !important;
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
  background-color: #ED1C24;
}

.btn-dec {
  position: relative;
  overflow: hidden;
}
.btn-dec::before {
  content: "";
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  position: absolute;
  left: -62px;
  top: 0;
  transition: left 0.5s;
}
.btn-dec:hover::before {
  left: 100%;
}

ul.red-dots li {
  position: relative;
  padding-left: 20px;
}
ul.red-dots li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ED1C24;
}
@media (max-width: 767px) {
  ul.red-dots li {
    padding-left: 15px;
  }
  ul.red-dots li::after {
    height: 5px;
    width: 5px;
    top: 11px;
  }
}

html.menuOpen .menu-toggle .wrapper div.bar1 {
  top: 6px;
  transform: rotate(-45deg);
}
html.menuOpen .menu-toggle .wrapper div.bar2 {
  opacity: 0;
}
html.menuOpen .menu-toggle .wrapper div.bar3 {
  top: 6px;
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  html.menuOpen .menu {
    transform: none;
  }
}

header {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
header .menu-toggle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  height: 19px;
}
header .menu-toggle .wrapper {
  width: 24px;
  height: 19px;
  position: relative;
  display: inline-block;
}
header .menu-toggle .wrapper div {
  height: 3px;
  background-color: #ED1C24;
  transition: width 0.5s ease, top 0.5s, transform 0.5s;
  position: absolute;
  left: 0;
  width: 24px;
}
header .menu-toggle .wrapper div.bar1 {
  top: 0px;
}
header .menu-toggle .wrapper div.bar2 {
  top: 8px;
  width: 18px;
}
header .menu-toggle .wrapper div.bar3 {
  top: 16px;
}
header .menu li:not(.complex-space) {
  height: 100%;
}
header .menu li:not(.complex-space) a {
  height: 100%;
  position: relative;
  line-height: 80px;
}
header .menu li:not(.complex-space) a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background: #ED1C24;
  transition: width 0.3s;
  border-radius: 5px;
}
header .menu li:not(.complex-space) a:hover {
  color: #ED1C24;
}
header .menu li:not(.complex-space) a:hover::after {
  width: 100%;
}
header .menu .logo-space {
  width: 18%;
}
header .menu .complex-space {
  width: 12%;
}
header .logo {
  width: 150px;
  height: 47px;
}
header .lang::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background: white;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
header .lang .content {
  display: none;
  position: absolute;
  top: 45px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header .lang .content ul li {
  background: white;
}
header .lang .content ul li.active {
  background: #ED1C24;
}
header .lang .content ul li.active a {
  color: white;
}
header .lang .content ul li a {
  color: #808080;
  width: 40px;
  height: 40px;
}
header .fb,
header .youtube {
  width: 36px;
  height: 36px;
}
header .fb {
  background: #3B5998;
}
header .youtube {
  background: #C00C13;
}
header .complex {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1199px) {
  header .menu .logo-space {
    width: 100%;
  }
  header .menu .complex-space {
    width: 100%;
  }
}
@media (max-width: 991px) {
  header {
    height: 50px;
  }
  header .logo {
    padding: 4px;
    top: 93%;
    width: 148px;
    height: 52px;
    border-radius: 44%;
  }
  header .menu-toggle {
    display: block;
  }
  header .menu {
    padding: 0;
    width: 320px;
    height: auto !important;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    transition: transform 0.5s;
    background: linear-gradient(rgba(200, 42, 62, 0.9), rgba(233, 50, 59, 0.9));
    transform: translateX(-320px);
  }
  header .menu ul {
    width: 292px;
    height: auto !important;
    margin: auto;
    margin-top: 80px;
  }
  header .menu ul li {
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-bottom: 15px;
  }
  header .menu ul li:nth-child(4) {
    display: none;
  }
  header .menu ul li:not(.complex-space) a {
    padding-bottom: 0;
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 10px;
    font-size: 22px;
    color: #E6313C;
  }
  header .menu ul li:not(.complex-space) a::after {
    display: none;
  }
  header .menu img {
    bottom: 0;
    left: 0;
  }
  header .lang {
    height: 40px;
    width: 27px;
  }
  header .lang .font-22 {
    font-size: 26px;
  }
  header .lang .content {
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .fb,
header .youtube {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 575px) {
  header .menu {
    width: 100%;
    transform: translateX(-100%);
  }
}

footer {
  bottom: 0;
  padding-top: 86px;
  padding-bottom: 318px;
}
footer .dec {
  top: 55px;
  width: 100%;
}
footer .logo {
  width: 140px;
}
footer .fb,
footer .youtube {
  width: 46px;
  height: 46px;
  background: linear-gradient(to right, #EC1C24, #C2142C);
}
footer .copyright > span:nth-child(1) {
  order: 2;
}
footer .biscuit {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (max-width: 1400px) {
  footer {
    padding-bottom: 240px;
  }
}
@media (max-width: 1199px) {
  footer {
    padding-bottom: 200px;
  }
}
@media (max-width: 991px) {
  footer {
    padding-bottom: 160px;
  }
}
@media (max-width: 767px) {
  footer {
    padding-bottom: 80px;
    padding-top: 125px;
  }
  footer .logo {
    width: 120px;
  }
  footer .dec {
    top: -10px;
    width: 528px;
    left: 37%;
    transform: translateX(-50%);
  }
}

@-webkit-keyframes radarWave {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@keyframes radarWave {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97);
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97);
  }
}
.index-banner .swiper-button {
  width: 70px;
  height: 120px;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}
.index-banner .swiper-button:hover {
  background: #ED1C24;
}
.index-banner .swiper-button::after {
  font-size: 32px;
}
.index-banner .swiper-button.swiper-button-prev {
  left: 0;
  border-radius: 0 60px 60px 0;
  padding-right: 13px;
}
.index-banner .swiper-button.swiper-button-next {
  right: 0;
  border-radius: 60px 0 0 60px;
  padding-left: 13px;
}
.index-banner .swiper-pagination {
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  text-align: right;
}
.index-banner .swiper-pagination .swiper-pagination-bullet {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 1;
  transition: all 0.3s;
  margin: 0 5px;
}
.index-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #ED1C24;
}
.index-banner .swiper-pagination .swiper-pagination-bullet:hover {
  color: #ED1C24;
}

.bg {
  background: url(images/index/bg.jpg) center no-repeat;
  background-size: cover;
}

.index-section-1 .swiper-thumbs {
  height: 650px;
  width: 600px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-top: 30px;
  padding-bottom: 30px;
}
.index-section-1 .swiper-thumbs .swiper-slide {
  padding-left: 153px;
}
.index-section-1 .swiper-thumbs .swiper-slide.swiper-slide-thumb-active .circle {
  opacity: 1;
}
.index-section-1 .swiper-thumbs .swiper-slide.swiper-slide-thumb-active .font-64 {
  font-size: 80px;
  color: #3B266B;
  padding-left: 70px;
}
.index-section-1 .swiper-thumbs .swiper-slide.swiper-slide-thumb-active .font-64::before {
  opacity: 0;
}
.index-section-1 .swiper-thumbs .swiper-slide.swiper-slide-thumb-active .font-24 {
  color: black;
  padding-left: 70px;
}
.index-section-1 .swiper-thumbs .swiper-slide .circle {
  opacity: 0;
  height: 244px;
  width: 244px;
  left: -12%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}
.index-section-1 .swiper-thumbs .swiper-slide .circle .wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(237, 28, 36, 0.1);
  border-radius: 50%;
  -webkit-animation-name: radarWave;
          animation-name: radarWave;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.index-section-1 .swiper-thumbs .swiper-slide .circle .wave.wave-1 {
  width: 100%;
  height: 100%;
}
.index-section-1 .swiper-thumbs .swiper-slide .circle .wave.wave-2 {
  width: 85%;
  height: 85%;
}
.index-section-1 .swiper-thumbs .swiper-slide .circle .wave.wave-3 {
  width: 70%;
  height: 70%;
  background: #ED1C24;
}
.index-section-1 .swiper-thumbs .swiper-slide .circle .wave.wave-3 img {
  width: 42px;
}
.index-section-1 .swiper-thumbs .swiper-slide .font-64 {
  transition: all 0.3s;
  position: relative;
  padding-left: 90px;
}
.index-section-1 .swiper-thumbs .swiper-slide .font-64::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background: url(images/index/arrow-left-1.svg) center no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.index-section-1 .swiper-thumbs .swiper-slide .font-24 {
  transition: all 0.3s;
  padding-left: 90px;
}
.index-section-1 .swiper-main {
  margin-left: 505px;
}
.index-section-1 .swiper-main .swiper-slide .img {
  width: 75%;
}
.index-section-1 .swiper-main .swiper-slide .text {
  top: 55%;
  left: 57.5%;
  max-width: 433px;
}
.index-section-1 .swiper-main .swiper-slide .text a {
  pointer-events: all;
}
.index-section-1 .swiper-main .swiper-pagination {
  left: auto;
  right: 30px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  width: auto;
}
.index-section-1 .swiper-main .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  display: block;
  margin: 10px 0;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 1;
}
.index-section-1 .swiper-main .swiper-pagination .swiper-pagination-bullet span {
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transition: background 0.3s;
}
.index-section-1 .swiper-main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active span {
  background: #ED1C24;
}

.index-section-2 {
  margin-top: -110px;
}
.index-section-2 .img-1 {
  left: 0;
  top: 30px;
}
.index-section-2 .img-2 {
  right: 0;
  top: 0;
}
.index-section-2 .text {
  margin-left: 72px;
}
.index-section-2 .text .welcome {
  letter-spacing: -4px;
}

.index-section-3 {
  padding-top: 165px;
}
.index-section-3 .dec {
  left: -11%;
  bottom: -165px;
}
.index-section-3 .swiper-container {
  height: 890px;
}
.index-section-3 .swiper-container .swiper-slide a {
  padding-right: 148px;
}
.index-section-3 .swiper-container .swiper-slide a::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background: url(images/index/arrow-left-1.svg) center no-repeat;
  position: absolute;
  top: 50%;
  right: 87px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.index-section-3 .swiper-container .swiper-slide a:hover .date {
  color: #ED1C24;
}
.index-section-3 .swiper-container .swiper-slide a:hover .circle {
  opacity: 1;
}
.index-section-3 .swiper-container .swiper-slide a:hover .img-wrapper::after {
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.index-section-3 .swiper-container .swiper-slide a .circle {
  opacity: 0;
  height: 244px;
  width: 244px;
  right: -4%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}
.index-section-3 .swiper-container .swiper-slide a .circle .wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(237, 28, 36, 0.1);
  border-radius: 50%;
  -webkit-animation-name: radarWave;
          animation-name: radarWave;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.index-section-3 .swiper-container .swiper-slide a .circle .wave.wave-1 {
  width: 100%;
  height: 100%;
}
.index-section-3 .swiper-container .swiper-slide a .circle .wave.wave-2 {
  width: 85%;
  height: 85%;
}
.index-section-3 .swiper-container .swiper-slide a .circle .wave.wave-3 {
  width: 70%;
  height: 70%;
  background: #ED1C24;
}
.index-section-3 .swiper-container .swiper-slide a .circle .wave.wave-3 img {
  width: 42px;
}
.index-section-3 .swiper-container .swiper-slide a .date {
  flex: 0 0 140px;
  transition: color 0.3s;
}
.index-section-3 .swiper-container .swiper-slide a .img-wrapper {
  position: relative;
}
.index-section-3 .swiper-container .swiper-slide a .img-wrapper::after {
  content: "";
  display: block;
  height: 40px;
  width: calc(100% + 2px);
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  border-radius: 30px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(2px);
  transition: all 0.3s;
}
.index-section-3 .swiper-container .swiper-slide a .text-indent {
  margin-left: -10px;
}
.index-section-3 .swiper-container .swiper-slide:nth-child(1) .info {
  left: 100px;
}
.index-section-3 .swiper-container .swiper-slide:nth-child(2) .info {
  left: 50px;
}

.index-section-4 .more {
  bottom: 0;
  right: 10%;
}
.index-section-4 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active img {
  transform: none;
}
.index-section-4 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .circle {
  display: flex;
}
.index-section-4 .swiper-container .swiper-wrapper .swiper-slide img {
  transform: scale(0.7466);
  transition: transform 0.3s;
}
.index-section-4 .swiper-container .swiper-wrapper .swiper-slide .circle {
  width: 80px;
  height: 80px;
  display: none;
}
.index-section-4 .swiper-container .swiper-button::after {
  display: none;
}
.index-section-4 .swiper-container .swiper-button.swiper-button-prev {
  left: 26%;
  transform: translateX(-50%);
}
.index-section-4 .swiper-container .swiper-button.swiper-button-next {
  right: 26%;
  transform: translateX(50%);
}

#videoModal .close {
  position: absolute;
  right: 0;
  top: -60px;
  font-size: 50px;
}

#index footer {
  padding-top: 137px;
  padding-bottom: 405px;
  background: url(images/layout/footer-bg.jpg) center no-repeat;
  background-size: cover;
}
#index footer .dec {
  top: -120px;
}
#index footer .logo {
  width: 140px;
}
#index footer .fb,
#index footer .youtube {
  width: 46px;
  height: 46px;
  background: linear-gradient(to right, #EC1C24, #C2142C);
}
#index footer .copyright > span:nth-child(1) {
  order: 2;
}
#index footer .biscuit {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#about footer {
  position: relative !important;
  background: url(images/layout/footer-bg.jpg);
}

.about-wrapper-1 .jqimgFill-1 {
  height: 400px;
}
.about-wrapper-1 .jqimgFill-2 {
  height: 242px;
}
.about-wrapper-1 .dec {
  left: -22%;
  top: 30%;
  transform: translateY(-50%);
  width: 82%;
}

.about-wrapper-2 {
  height: 900px;
}
.about-wrapper-2 .text-img {
  width: 487px;
}

.about-wrapper-3 {
  margin-top: -189.5px;
}
.about-wrapper-3 .space {
  height: 189.5px;
}
.about-wrapper-3 .img-1 {
  left: 0px;
  top: 51%;
  width: 28.7%;
  transform: translateY(-50%);
}
.about-wrapper-3 .img-2 {
  left: 34.5%;
  bottom: 0;
  width: 32%;
  transform: translateX(-50%);
}
.about-wrapper-3 .img-3 {
  right: 0;
  bottom: 0;
  width: 25.5%;
}
.about-wrapper-3 .content {
  margin-top: -189.5px;
  padding-top: 280px;
  background-image: url(images/about/section-3-bg.jpg);
}
.about-wrapper-3 .bg-white {
  border-radius: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-wrapper-3 .icon-1 {
  width: 78.6px;
}

@media (max-width: 1199px) {
  .about-wrapper-1 .jqimgFill-1 {
    height: 280px;
  }
  .about-wrapper-1 .jqimgFill-2 {
    height: 169.4px;
  }
  .about-wrapper-1 .dec {
    left: -5%;
    top: 40%;
    transform: translateY(-50%);
    width: 60%;
  }

  .about-wrapper-2 {
    height: 600px;
  }

  .about-wrapper-3 {
    margin-top: 0px;
    padding-top: 100px;
    background-image: url(images/about/section-3-bg.jpg);
  }
  .about-wrapper-3 .bg-white {
    border-radius: 50px;
  }
  .about-wrapper-3 .content {
    background: transparent;
    margin-top: 0;
    padding-top: 50px;
  }
  .about-wrapper-3 .img-1 {
    top: 30%;
  }
  .about-wrapper-3 .img-2 {
    left: 25%;
  }
}
@media (max-width: 991px) {
  .about-wrapper-1 .jqimgFill-1 {
    height: 400px;
  }
  .about-wrapper-1 .jqimgFill-2 {
    height: 242px;
  }
  .about-wrapper-1 .max445 {
    max-width: initial;
  }
  .about-wrapper-1 .dec {
    width: 70%;
    transform: none;
  }

  .about-wrapper-3 {
    overflow: hidden;
  }
  .about-wrapper-3 .img-1 {
    top: auto;
    transform: none;
    bottom: -75px;
  }
  .about-wrapper-3 .img-2 {
    left: 50%;
  }
}
@media (max-width: 767px) {
  .about-wrapper-1 .jqimgFill {
    height: auto;
    background-image: transparent;
  }
  .about-wrapper-1 .jqimgFill img {
    display: block !important;
  }

  .about-wrapper-2 {
    height: 550px;
  }
  .about-wrapper-2 .logo-img {
    width: 150px;
  }
  .about-wrapper-2 .text-img {
    width: 300px;
  }

  .about-wrapper-3 {
    padding-top: 48px;
  }
  .about-wrapper-3 .bg-white {
    border-radius: 25px;
  }
  .about-wrapper-3 .img-1 {
    width: 150px;
    bottom: -50px;
    left: -10px;
    transform: rotate(-17deg);
  }
  .about-wrapper-3 .img-2 {
    width: 150px;
    left: 52%;
  }
  .about-wrapper-3 .img-3 {
    width: 120px;
  }
}
#news .content-wrapper {
  margin-top: -50px;
}
#news .content-wrapper a:hover .img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
#news .content-wrapper a:hover .img::after {
  opacity: 1;
}
#news .content-wrapper a:hover .img .circle-move-style {
  opacity: 1;
}
#news .content-wrapper a:hover .date {
  color: #ED1C24;
}
#news .content-wrapper a .img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
}
#news .content-wrapper a .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}
#news .content-wrapper a .img .circle-move-style {
  width: 120px;
  height: 120px;
}
#news .content-wrapper a .img .circle-move-style .wave {
  background: rgba(237, 28, 36, 0.2);
}
#news .content-wrapper a .img .circle-move-style .wave.wave-3 {
  background: #ED1C24;
}
#news .content-wrapper a .img .circle-move-style .wave.wave-3 img {
  width: 26px;
}
#news .content-wrapper a .title {
  height: 58px;
}
#news .content-wrapper a .content {
  height: 48px;
}

#new .fb,
#new .youtube,
#new .mail {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}
#new .fb:hover {
  background: #3B5998;
}
#new .youtube:hover {
  background: #C00C13;
}
#new .mail:hover {
  background: #ED1C24;
}

#videos [data-toggle=modal]:hover .circle {
  background: #ED1C24;
}
#videos [data-toggle=modal]:hover .font-20 {
  color: #ED1C24;
}
#videos [data-toggle=modal] .circle {
  background: rgba(255, 255, 255, 0.3);
  width: 70px;
  height: 70px;
  transition: background 0.3s;
}
#videos [data-toggle=modal] .font-20 {
  height: 71px;
}
@media (max-width: 1199px) {
  #videos [data-toggle=modal] .font-20 {
    height: 65px;
  }
}
@media (max-width: 767px) {
  #videos [data-toggle=modal] .font-20 {
    height: auto;
    display: block;
  }
}

#contact form .form-field label {
  flex: 0 0 105px;
}
#contact form .upload-icon {
  background: #E5E5E5;
  width: 46px;
  height: 46px;
}
#contact form .upload-icon img {
  width: 16px;
}
@media (max-width: 767px) {
  #contact .rounded-30 {
    border-radius: 10px;
  }
  #contact textarea {
    height: 108px;
  }
}

.contact-info .circle {
  width: 42px;
  height: 42px;
}
@media (max-width: 991px) {
  .contact-info .dec-img {
    position: absolute;
    top: 165px;
    right: -30px;
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .contact-info .dec-img {
    position: absolute;
    top: 45px;
    right: -10px;
    max-width: 150px;
  }
}

#success .footer-space {
  padding-bottom: 472px;
}
#success .mail-circle {
  width: 90px;
  height: 90px;
}
#success .mail-circle::after {
  border: 1px dashed #ED1C24;
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#success footer .dec {
  top: -150px;
}
#success footer .info {
  display: none;
}
@media (max-width: 1199px) {
  #success .footer-space {
    padding-bottom: 400px;
  }
  #success footer .dec {
    top: -60px;
  }
}
@media (max-width: 991px) {
  #success .max620 {
    max-width: 550px;
  }
}
@media (max-width: 767px) {
  #success .mail-circle {
    width: 70px;
    height: 70px;
  }
  #success .mail-circle::after {
    width: 80px;
    height: 80px;
  }
}

#sitemap .dec-img {
  transform: translateX(-50%);
}
#sitemap .dec-img.dec-1 {
  top: -2.5%;
  left: 53.8%;
  width: 39.2%;
}
#sitemap .dec-img.dec-2 {
  top: 23%;
  left: 67.4%;
  width: 39.2%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#sitemap .dec-img.dec-3 {
  top: 4%;
  left: 91%;
  width: 45%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
#sitemap .dec-img img {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#sitemap .links a {
  background: #E6E6E5;
  transition: all 0.3s;
  position: relative;
  height: 56px;
  line-height: 56px;
}
#sitemap .links a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #E91B25, #C4152B);
  opacity: 0;
  border-radius: 30px;
  transition: opacity 0.3s;
}
#sitemap .links a:hover {
  color: white;
}
#sitemap .links a:hover::after {
  opacity: 1;
}
#sitemap .links a span {
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  #sitemap .dec-img.dec-1 {
    top: -2.5%;
    left: 58%;
    width: 45%;
  }
  #sitemap .dec-img.dec-2 {
    top: 32%;
    left: 82%;
    width: 45%;
  }
  #sitemap .dec-img.dec-3 {
    top: 4%;
    left: 91%;
    width: 48%;
  }
}
@media (max-width: 991px) {
  #sitemap .dec-img.dec-1 {
    top: -2%;
    left: 42%;
    width: 45%;
  }
  #sitemap .dec-img.dec-2 {
    top: 10%;
    left: 60%;
    width: 45%;
  }
}
@media (max-width: 575px) {
  #sitemap .dec-img.dec-1 {
    top: 3%;
    left: 27%;
    width: 50%;
  }
  #sitemap .dec-img.dec-2 {
    top: 6%;
    left: 58%;
    width: 50%;
  }
  #sitemap .dec-img.dec-3 {
    top: 4%;
    left: 91%;
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */